# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.sqlite3

# Virtual env
.venv/
env/
venv/

# OS junk
.DS_Store

# Local env scripts / secrets
env.local.sh

# Editor
.vscode/
.idea/

# Bytecode cache in web tools
node_modules/
